@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";




//css pagination en violet
.pagination .page-item.active .page-link {
    background-color: #1cc88a; /* vert */
    border-color: #1cc88a;
    color: #fff;
}

.pagination .page-link {
    color: #1cc88a;
}

.pagination .page-link:hover {
    background-color: #c8e898; /* un violet clair au survol */
    color: #1cc88a;
}


.toast {
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.85) !important;
    opacity: 0.9 !important;
    z-index: 9999;
}

.toast-message {
    color: #fff !important;
}

.toast-success {
    background-color: #51a351 !important;
}

.toast-error {
    background-color: #bd362f !important;
}

.toast-info {
    background-color: #2f96b4 !important;
}

.toast-warning {
    background-color: #f89406 !important;
}
